{{outlet}}

<div class="cover">
    <div class="center">
        <div>
            <title>Say Hello</title>
            <p>
                Say Hello is an interactive walkway that breaks the ice for employees. By generating connections cross-organisation, the company network and culture can be improved, fast-tracking collaboration, productivity and access to the greater knowledge base.
            </p>
            <p>
                <b>UQ PHYSICAL COMPUTING</b> | Aimee Leong
            </p>
            <div class="open">
                {{#link-to 'overview' class="circle"}}
                    +
                {{/link-to}}
                <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                   <g>
                     <circle cx="32" cy="32" r="32"/>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="video">
    <video id="bgvid" >
        <source src="/AimeeeBlaahh.mp4" type="video/mp4">
    </video>
</div>
